In [27]:
#  importing libraries
import pandas as pd
import json
import requests

In [28]:
api_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/labs/module%201/Accessing%20Data%20Using%20APIs/jobs.json"
#  reading the json file
def get_number_of_jobs(Technology):
    number_of_jobs = 0
    response = requests.get(api_url)
    if response.ok:
        data = response.json()
    for post in data:
        for skill in post['Key Skills'].split(sep='|'):
            if skill.strip() == Technology:
                number_of_jobs += 1
    return number_of_jobs, Technology

In [29]:
get_number_of_jobs('Python')

(1165, 'Python')

In [30]:
def get_jobs_by_location(location):
    number_of_jobs = 0
    response = requests.get(api_url)
    if response.ok:
        data = response.json()
    for post in data:
        if post['Location'].lower() == location.lower():
             number_of_jobs += 1
    return number_of_jobs, location

In [31]:
get_jobs_by_location('Los Angeles')

(640, 'Los Angeles')

In [32]:
locations = ['New York', 'Los Angeles','Boston','Seattle', 'San Francisco', 'Dallas']
L = ["Los Angeles","New York","San Francisco","Washington DC","Seattle"]

In [33]:
# Add this optimization BEFORE your code:
import requests
jobs_data = requests.get(api_url).json()  # Load once

def get_jobs_by_location(location):
    count = sum(1 for job in jobs_data 
                if location.lower() in job.get('Location', '').lower())
    return location, count  # Return tuple for direct append

# Your code will then run in under 30 seconds!

from openpyxl import Workbook
wb = Workbook()
ws = wb.active
ws.append(['Location', 'Number of Jobs'])
for location in locations:
    ws.append(get_jobs_by_location(location))
for row in ws.values:
    for value in row:
        print(value)

Location
Number of Jobs
New York
3226
Los Angeles
640
Boston
2966
Seattle
3375
San Francisco
435
Dallas
1208

In [34]:
wb.save("job_postings.xlsx")  # Corrected typo from 'svae' to 'save'

In [37]:
import requests
job_data = requests.get(api_url).json()
def get_number_of_jobs(Technology):
    count = sum(1 for job in job_data 
                if Technology.lower() in job.get('Key Skills', '').lower()) 
    return count, Technology

from openpyxl import Workbook
wb = Workbook()
ws = wb.active
ws.append(['Technology', 'Number_of_Jobs'])
for technology in ['Python', 'Java', 'JavaScript', 'C++', 'C#','C','Scala','Oracle','SQL Server','MySQL Server','PostgreSQL','MongoDB']:
    ws.append(get_number_of_jobs(technology))
for row in ws.values:
    for value in row:
        print(value)
wb.save("job_postings_technologies.xlsx")

Technology
Number_of_Jobs
1173
Python
3428
Java
2248
JavaScript
506
C++
526
C#
25114
C
138
Scala
899
Oracle
423
SQL Server
0
MySQL Server
86
PostgreSQL
208
MongoDB